@font-face {
    src: url("../fonts/Tajawal-Regular.ttf");
    font-family: "main";
}
:root {
    --text-danger:transparent;
    --bg-danger:transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "main", sans-serif;
    margin: 0;
    padding: 0;
}

/*start loader*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-secondary);
}

#loader {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--bg-primary);
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--bg-primary);
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--bg-primary);
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*end loader*/
.fs-25p {
    font-size: 25px;
}

.w-198p {
    width: 198px;
}
.font-18{
    font-size: 18px;
}
.h-100p {
    height: 100px;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.h-280p {
    height: 280px;
}

body {
    background: #FCFCFC;
    font-family: "main", sans-serif;
}

.bg-danger {
    background-color: var(--text-danger) !important;
}

.bg-secondary {
    background-color: var(--text-secondary) !important;
}

.btn-danger {
    background-color: var(--text-danger);
    border-color: var(--text-danger);
}

.text-danger {
    color: var(--text-danger) !important;
}

header {
    transition: .3s;
}

header.header-top {
    background: #00000094;
}

header .nav-top {
    transition: .4s;
}

header.header-top .nav-top {
    opacity: 0;
    margin-top: -40px;
}

.navbar .nav-item .nav-link {
    transition: .4s;
}

.navbar .nav-item .nav-link:after {
    content: "";
    height: 3px;
    width: 0;
    display: block;
    background: #33709C;
    transition: .4s;
}

header .navbar .nav-item.active .nav-link:after, .navbar .nav-item .nav-link:hover:after {
    width: 100%;
}

header .navbar .nav-item.active .nav-link, .navbar .nav-item .nav-link:hover {
    color: var(--text-danger) !important;
}

header img.logo-img {
    transition: .5s;
}

header.header-top img.logo-img {
    width: 40px;
}

/*.....*/
header .our-btn {
    display: inline-block;
    cursor: pointer;
    padding-top: 0;
    position: absolute;
    width: 30px;
    top: 10px;
    left: 16px;
    height: 30px;
}

header .our-btn.close {
    padding-top: 0;
}

header .the-bar {
    display: block;
    width: 100%;
    height: 3.5px;
    margin-bottom: 5px;
    background: #fff;
    transition: .5s;
}

header .close .the-bar:first-Child {
    transform: rotate(-45deg) translate(-12px, 12px);

}

header .close .the-bar:nth-Child(2) {
    opacity: 0;
}

header .close .the-bar:last-Child {
    transform: rotate(45deg) translate(0);
}

.img-itme img {
    width: auto !important;
    margin: auto;
}
.w-80-carousel{
    width: 70px !important;
}
.btn-danger.disabled, .btn-danger:disabled{
    background-color: var(--text-danger);
    border-color: var(--text-danger);
}
/*...*/
.hover-skl, .hover-skl img {
    transition: .4s;
}
.padding-14{
    padding: 5px !important;
}

.w-30{
    width: 30%;
}
.w-68{
    width: 68%;
}
.z-index-100{
    z-index: 100;
}
.hover-skl:hover {
    transform: scale(1.2);
}

.hover-skl:hover img {
    transform: scale(1.06);
    overflow: hidden;
}

.overlay {
    position: relative
}

/*.overlay:before {*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    background: #0000008c;*/
/*}*/

#slider.owl-theme .owl-nav, .archive.owl-theme .owl-nav {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

#slider.owl-theme .owl-nav [class*=owl-]:hover, .archive.owl-theme .owl-nav [class*=owl-]:hover {
    color: black;

}

button:focus {
    outline: none;
}

.owl-theme .owl-nav .disabled {
    opacity: .3;
    cursor: no-drop;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
}

.star1 {
    background: url('../images/star1.png') no-repeat;
    background-size: 110px;
    width: 110px;
    height: 25px;
    display: block;
    position: absolute;
    left: 0;
    z-index: 1;
}

.star2 {
    background: url('../images/star2.png') no-repeat;
    background-size: 110px;
    height: 25px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
}

.w-110p {
    width: 110px;
}

.shopping {
    min-height: 250px;
    overflow: hidden;
}
.cover{
    object-fit: cover;
}
.contain{
    object-fit: contain;
}
.rounded-20{
    border-radius: 20px;
}
.w-90{
    width: 90%;
}
.h-80p-h{
    height: 80px !important;
}
.shopping1 {
    background: url('../images/bg-img1.png') center center no-repeat;
    background-size: cover;
    border-bottom-right-radius: 250px;
}
.btn-danger:hover{
    color: #fff;
    background-color: #102332;
    border-color: #33709C;
}
.font-20{
    font-size: 20px;
}
.btn-outline-danger {
    color: #33709C;
    border-color: #33709C;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #102332;
    border-color: #33709C;
}
.shopping2 {
    background: url('../images/bg-img2.png') center center no-repeat;
    background-size: cover;
    border-top-left-radius: 250px;
}

.shopping3 {
    background: url('../images/bg-img3.png') center center no-repeat;
    background-size: cover;
}

.min-h-250p {
    min-height: 250px;
}

.h-130p {
    height: 99px !important;
}
#wanted .owl-item img {
    display: unset !important;
    width: revert-layer !important;
}
.max-w-300p {
    max-width: 300px;
}

.btm-0 {
    bottom: 0;
}

main {
    min-height: 60vh;
}

footer:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-top: 310px solid transparent;
    border-right: 1350px solid #fff;
}

.MOHAMMED {
    position: absolute;
    bottom: -43px;
    right: 30px;
}

.MOHAMMED img {
    border: 5px solid #fcfcfc;
    background: #fcfcfc;
}

#our-partners.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 17px;
    right: 140px;
}

#our-partners.owl-theme .owl-dots .owl-dot.active span {
    background: #33709C;
    width: 40px;
    height: 7px;
}

#our-partners.owl-theme .owl-dots .owl-dot:hover span {
    background: #33709C;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 7px;
}

.owl-dot:focus, button:focus, .btn:focus {
    outline: none;
    box-shadow: none;
}

.form-option-color {
    width: 1.5rem;
    height: 1.5rem;
    margin: 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-option-label {
    border: 2px solid #ddd;
    cursor: pointer;
}

.form-check-input:checked ~ .form-option-label {
    border-color: #fe696a;
    color: #fe696a;
}

.image-click {
    border: 1px solid transparent;
    opacity: .5;
}

.image-click.active {
    border: 1px solid #fe696a;
    opacity: 1;

}

.opacity-0 {
    opacity: 0;
}

.w-30p {
    width: 30px;
}

.h-30p {
    height: 30px;
}
.w-49{
    width: 49%;
}
.h-50p {
    height: 50px;
}

.h-460p {
    height: 460px;
}

.fs-20p {
    font-size: 20px;
}

.quantity input {
    outline: 0;
}

.h2-desc {
    border-color: #d9d9d9 !important;
    position: relative;
}

.h2-desc:after {
    content: "";
    height: 7px;
    width: 170px;
    left: 0;
    border-radius: 19px;
    position: absolute;
    bottom: -3.5px;
    background: #33709C;
}

.fs-58p {
    font-size: 58px;
}

.w-95p {
    width: 95px !important;
}

.w-100p {
    width: 100px;
}

.h-330p {
    height: 330px;
}

.rounded-lg {
    border-radius: 0.75rem !important;
}

h2 {
    text-transform: uppercase;
}

.cont {
    width: 15px;
    height: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff;
    right: 4px;
    font-size: 11px;
}

.rounded-top-right {
    border-top-right-radius: 80px;
}

.rounded-bottom-right {
    border-bottom-right-radius: 80px;
}

/*.filter {*/
/*    margin-top: -4.9rem;*/
/*    position: relative;*/
/*    z-index: 999;*/
/*}*/

/*.filter:before {*/
/*    content: "";*/
/*    background: #fcfcfc;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    left: -100%;*/
/*}*/

/*start stores*/
.stores .box-store img {
    position: relative;
    margin-top: -70px;
    left: 22px;
    width: 100px;
    height: 100px;
    outline: 8px solid #fcfcfc;
}

.pl-110p {
    padding-left: 110px;
}

.stores .box-store {
    transition: .4s;
}

.stores .box-store:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.max-w-950p {
    max-width: 950px;
}

/* end  stores*/

.info:after {
    content: "";
    width: 100%;
    height: 5px;
    background: #33709C;
    position: absolute;
    border-radius: 50px;
    left: 5px;
    bottom: -17px;
}

.lang-o .active:after {
    content: "";
    width: 100%;
    height: 5px;
    background: #33709C;
    position: absolute;
    border-radius: 50px;
    left: 5px;
    bottom: -2.5px;
}

.pagination .page-link {
    transition: .4s;
}

.pagination .page-link.active, .pagination .page-link:hover {
    border: 1px solid #33709C;
    color: #33709C !important;
    background: transparent;
}

textarea {
    resize: none;
}

.media.profile-o {
    margin-top: -60px;
}

.media.profile-o img {
    border: 7px solid #fff;
}

.form-control:focus {
    box-shadow: none;
}

.filter-orders .dropdown.show .border {
    border: 0 !important;
    position: relative;
    z-index: 1002;
    background: transparent !important;
}

.filter-orders .dropdown.show .dropdown-toggle::after {
    transform: rotate(180deg);
}

.filter-orders:after {
    content: "";
    height: 2px;
    width: 80%;
    position: absolute;
    background: #dee2e6;
    display: block;
    bottom: 19px;
    z-index: -1;
}

.header-hov .dropdown-item:focus, .header-hov .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: var(--text-danger) !important;
}

.fs-13p {
    font-size: 13px;
}
.w-radio{
    width: 22px !important;
    height: 22px !important;
    vertical-align: middle;
}
.w-radio:checked{
    background-color:#102332;
    border-color: #33709C;
}
.bg-light {
    background-color: #FCFCFC !important;
}

.login {
    background: url("../images/bg-login2.png") no-repeat;
    background-position: bottom right;
    background-size: 50%;
}

.emad {
    background: url("../images/bg-login.png");
    background-size: 100%;
}

.bg-Forget-Password {
    background: url("../images/bg-Forget-Password.png");
    background-size: 100%;
}

.max-w-650p {
    max-width: 650px;
}

.pointer {
    cursor: pointer;
}

.w-25p {
    width: 25px;
}

.h-25p {
    height: 25px;
}

.right-0 {
    right: 0;
}

.input-hover {
    border: 2px solid #622f2b;
}

.w-35p {
    width: 35px;
}

.h-35p {
    height: 35px;
}

.quantity span:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.quantity span:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.rounded-10{
    border-radius: 10px !important;
}
@media (max-width: 991.98px) {
    #slider.owl-theme .owl-nav, .archive.owl-theme .owl-nav {
        right: 20px;
    }

    header .navbar .nav-item.active .nav-link, .navbar .nav-item .nav-link:hover {
        color: #ffd91a !important;
    }

    /*start menu phon*/
    .navbar-collapse {
        width: 50% !important;
        position: fixed;
        right: 0;
        top: 0;
        background: #33709C;
        display: block;
        padding-top: 5px;
        z-index: 99;
        height: 100vh;
        box-shadow: 0 0 15px #33709C;
    }

    .navbar-collapse {
        transition: .5s;
    }

    .navbar-collapse.collapse:not(.show) {
        display: block;
        right: -100%;
    }

    .overlaymnu .our-btn {
        position: fixed;
        background: #000;
        height: 120%;
        width: 100%;
        z-index: 11;
        top: 0;
        left: 0;
        cursor: context-menu !important;
        display: none;
        opacity: .6;
    }

    .overlaymnu .our-btn:hover {
        opacity: .6 !important;
    }

    /*end menu phon*/
    #slider .vh-100, .archive .vh-100 {
        height: 65vh !important;
    }

    .btn-sel {
        position: static !important;
    }

    .Privacy .h-280p {
        height: auto;
    }
}

@media (max-width: 767.98px) {
    #slider.owl-theme .owl-nav i, .archive.owl-theme .owl-nav i {
        font-size: 22px;
    }

    .most .min-h-250p {
        min-height: 280px;
    }

    .filter {
        margin-top: 0;
    }

    .img-apartment {
        height: 200px;
    }
}

@media (max-width: 576.98px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 19px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 17px;
    }

    p, a, label, input, textarea, button, select {
        font-size: 13px !important;
    }

    .fs-25p {
        font-size: 18px;
    }

    .stores .box-store img {
        position: relative;
        margin-top: -55px;
        left: 5px;
        width: 65px;
        height: 65px;
    }

    .stores .box-store .card-title {
        font-size: 14px;
        margin-bottom: 0 !important;
    }

    .stores .box-store p {
        font-size: 12px;
        margin-bottom: 0 !important;
    }

    .stores .box-store .pl-110p {
        padding-left: 70px;
    }

    .stores .box-store .w-110p {
        width: 80px;
        margin-top: -15px;
    }

    .stores .box-store .star2 {
        background-size: 80px;
        height: 17px;
    }

    .stores .box-store .star1 {
        background-size: 80px;
        width: 80px;
        height: 17px;
    }

    .breadcrumb {
        font-size: 11px;
    }

    .Product .h-460p {
        height: 290px;
    }

    img.image-click {
        height: 57px;
    }

    .nav-top .nav-link {
        font-size: 13px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .shopping2 {
        border-top-left-radius: 0;
    }

    .shopping1 {
        border-bottom-right-radius: 120px;
    }

    header .logo-img {
        width: 35px;
    }

    /*#slider img, .archive img {*/
    /*    height: 100%;*/
    /*    width: auto !important;*/
    /*}*/

    #slider .carousel-caption h2, .archive .carousel-caption h2 {
        font-size: 22px;
    }

    .shopping h2 {
        font-size: 22px;
    }

    .most .w-198p {
        width: 80%;
    }

    .most .img-itme img {
        height: 70px;
    }

    .most .h-130p {
        height: 80px;
    }

    .Product .h-330p {
        height: 210px;
    }

    .gray {
        height: 120px;
    }

    .emad {
        height: 44vh !important;
    }

    .take .h-120px {
        height: 90px;
    }

    .take .h-120px {
        height: 90px;
    }

    .take .w-120px {
        width: 90px;
    }
}


@media (max-width: 400px) {
    header .navbar-brand {
        margin-right: 0 !important;
    }

    header .navbar-toggler {
        padding-right: 0;
        padding-left: 0;
    }

    header .our-btn {
        width: 25px;
        height: 25px;
    }
}
