.pt-99p{
    padding-top: 99px;
}
.h-180p{
    height: 180px;
}
.h-60p{
    height: 60px;
}
.min-h340p{
    min-height: 340px;
}
header.header-top img.logo-img {
    width: 80px;
}

@media (max-width: 576.98px) {
    .ratings h5{
        font-size: 14px;
    }
    .ratings .h-180p{
        height: 110px;
    }
    #slider.owl-theme .owl-nav i, .archive.owl-theme .owl-nav i {
        font-size: 12px;
    }
    #slider.owl-theme .owl-nav, .archive.owl-theme .owl-nav {
        position: absolute;
        right: 15px;
        bottom: 5px;
    }
    .h-60p {
        height: 40px;
    }
    .min-h340p{
        min-height: 317px;
    }
    .w-110p {
        width: 80px;
    }
    .star1{
        background-size: 80px;
        width: 80px;
    }
    .star2 {
        background-size: 80px;
    }
    header .logo-img,
    header.header-top img.logo-img {
        width: 60px;
    }
    header .our-btn.close {
        top: 5px;
    }
}
